{% extends 'layouts/layout_manager.html' %}{%block manager %}
<div><h3>Manager Login</h3></div>

<form novalidate action="{{url_for('managers.manager_login')}}" method="POST" class="card-panel">
<div>
    <div>{{form.username.label}}</div>
    <div>{{form.username}}</div>
    </div>
    <div>
    <div>{{form.password.label}}</div>
    <div>{{form.password}}</div>
    </div>
    <div>
        <p>
            <label>
                {{form.remember_me( class="filled-in " )}}
                <span>Remember Me</span>
            </label>
        </p>
    </div>
    <div>{{form.submit2}}</div>
</form><br>
{%endblock%}