{% extends 'layouts/layout_manager.html' %}{% block manager %}
<h2>משתמשים</h2>
{% with make_staff = get_flashed_messages(category_filter=['make_staff']) %}
{% if make_staff %}
{% for message in make_staff %}
<div class="card-panel green ">{{message}}</div>
{%endfor%}
{%endif%}
{% endwith %}
{% with remove_staff = get_flashed_messages(category_filter=['remove_staff']) %}
{% if remove_staff %}
{% for message in remove_staff %}
<div class="card-panel red ">{{message}}</div>
{%endfor%}
{%endif%}
{% endwith %}
<table>
    <thead>
      <tr>
          <th>מזהה</th>
          <th>שם משתמש</th>
          <th>שם</th>
          <th>הרשאות</th>
          <th>הפוך/הסר מנהל</th>
      </tr>
    </thead>
{%for user in users %}
    <tbody>
      <tr>
        <td>{{user.id}}</td>
        <td>{{user.username}}</td>
        <td>{{user.first_name}} {{user.last_name}}</td>
      {% if user.is_staff %}
      <td>מנהל </td>
      <td><a class="hoverable waves-effect light-green btn" href="{{url_for('managers.remove_staff',id=user.id)}}">הסר מנהל</a></td>
      {%else%}
      <td>לקוח</td>
        <td><a class="hoverable waves-effect light-green btn" href="{{url_for('managers.make_staff',id=user.id)}}">הפוך למנהל</a></td>
      {%endif%}
      </tr>
    </tbody>
    {%endfor%}
</table>
{% endblock %}
