{% extends 'layouts/layout_manager.html' %}{% block manager %}

<div>
    <div><h3>{{delivery.id}} :הזמנה מספר</h3></div>
    <div><h4>{{delivery.cart.user.first_name}} {{delivery.cart.user.last_name}}  :שם</h4></div>
        <div>
            <table class="responsive-table">
                <thead>
                    <tr>
                        <th>שם מנה</th>
                        <th>מחיר</th>
                    </tr>
                </thead>
                {% for item in delivery.cart.items%}
                <tbody>
                <tr>
                    <td>{{item.dishes.name}}</td>
                    <td>{{item.dishes.price}}₪</td>
                </tr>
                </tbody>
                {%endfor%}
            </table>ֿ
            {% if not delivery.is_delivered%}
            <h5>סכום לתשלום:{{cart_price}}₪</h5>
            {%else%}
            <h5>שולם:{{cart_price}}₪</h5>
            {%endif%}
        </div>
    </div>
</div>
{%endblock%}