<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='css/materialize.css')}}"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
  </head>
  <body class="right-align">
    <nav class="light-green right-align">
      <div class="container">
        <a href="{{url_for('managers.manager_main')}}" class="left brand-logo"
          >אתר ניהול</a
        >
        <ul id="nav-mobile" class="left-align">
          <li><a href="{{url_for('users.logout')}}">התנתקות</a></li>
          <li>
            <a href="{{url_for('managers.manager_login')}}">התחברות מנהל</a>
          </li>
          <li><a href="{{url_for('users.signup')}}">הירשם</a></li>
          <li><a href="{{url_for('users.login')}}">התחבר</a></li>
          <li><a href="{{url_for('managers.manager_main')}}">אתר ניהול</a></li>
          <li><a href="{{url_for('main.main')}}">אתר לקוחות</a></li>
        </ul>
      </div>
    </nav>
    <div>
      <nav class="light-green lighten-1">
        <div class="container row nav-wrapper">
          <h5 class="col">
            <a href="{{url_for('managers.orders_manage')}}">הזמנות</a>
          </h5>
          <h5 class="col">
            <a href="{{url_for('managers.show_dishes')}}">מנות</a>
          </h5>
          <h5 class="col">
            <a href="{{url_for('managers.show_categories')}}">קטגוריות</a>
          </h5>
          <h5 class="col">
            <a href="{{url_for('managers.manager_main')}}">ראשי</a>
          </h5>
        </div>
      </nav>
    </div>
    <section class="container">{% block manager %} {% endblock %}</section>

    <footer class="page-footer light-green">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Footer Content</h5>
            <p class="grey-text text-lighten-4">
              You can use rows and columns here to organize your footer content.
            </p>
          </div>
          <div class="col l4 offset-l2 s12"></div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          © 2014 Copyright Text
          <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
      </div>
    </footer>
  </body>
</html>
