{% extends 'layouts/layout.html' %}{% block content %}
<div><h3>התחברות</h3></div>
{% with loged = get_flashed_messages(category_filter=['loged']) %}
{%if loged %}
    {% for message in loged %}
        <div class="card-panel green">{{message}}</div>
        {% endfor %}
    {% endif %}
{%endwith %}
<form  novalidate action="{{url_for('users.login')}}" method="POST" class="card-panel" style="margin: 10px;">
    {{form.csrf_token}}
<div>
<div>{{form.username.label}}</div>
<div>{{form.username}}</div>
{% for message in form.username.errors %}
<div style="color: red">{{message}}</div>
{% endfor %}
</div>
<div>
<div>{{form.password.label}}</div>
<div>{{form.password}}</div>
{% with wrong_password = get_flashed_messages(category_filter=['wrong_password']) %}
{% if wrong_password %}
    {% for message in wrong_password %}
    <div class="card-panel red ">{{message}}</div>
    {%endfor%}
    {%endif%}
    {% endwith %}
</div>
<div>
    <p>
        <label>
            {{form.remember_me( class="filled-in " )}}
            <span>זכור אותי</span>
        </label>
    </p>
</div>

<div class="hoverable left-align">{{form.submit3}}</div>
</form><br>
{% endblock %}