{% extends 'layouts/layout.html' %}{% block content %}
<div><h3>Signup</h3></div>
<form method="POST" action="{{url_for('users.signup')}}" novalidate class="card-panel">
    {{form.csrf_token}}
    <div>
        <div>{{form.first_name.label}}</div>
        <div>{{form.first_name}}</div>
        {% for message in form.first_name.errors %}
        <div style="color: red">{{message}}</div>
        {% endfor %}
    </div>
    <div>
        <div>{{form.last_name.label}}</div>
        <div>{{form.last_name}}</div>
        {% for message in form.last_name.errors %}
        <div style="color: red">{{message}}</div>
        {% endfor %}
    </div>
    <div>
        {% with not_avalible = get_flashed_messages(category_filter=['not_avalible']) %}
        {% if not_avalible %}
            {% for message in not_avalible %}
            <div class="card-panel red ">{{message}}</div>
            {%endfor%}
            {%endif%}
            {% endwith %}
        <div>{{form.username.label}}</div>
        <div>{{form.username}}</div>
        {% for message in form.username.errors %}
        <div style="color: red">{{message}}</div>
        {% endfor %}
    </div>
    <div>
        <div>{{form.password.label}}</div>
        <div>{{form.password}}</div>
        {% for message in form.password.errors %}
        <div style="color: red">{{message}}</div>
        {% endfor %}
    </div>
    <div>
        <div>{{form.confirm_password.label}}</div>
        <div>{{form.confirm_password}}</div>
        {% for message in form.confirm_password.errors %}
        <div style="color: red">{{message}}</div>
        {% endfor %}
    </div>
    <div>
        <div>{{form.email.label}}</div>
        <div>{{form.email}}</div>
        {% for message in form.email.errors %}
        <div style="color: red">{{message}}</div>
        {% endfor %}
    </div>
    <div>
        <div>{{form.address.label}}</div>
        <div>{{form.address}}</div>
    </div>
    <div>{{form.submit1}}</div>
</form>
{% endblock %}