{% extends 'layouts/layout.html' %}{% block content %}
<section>

    <div class="right-align border-bottom"><h2>{{category.name}}</h2></div><br>
    <div class="row " >
        {% for dish in dishes %}
          <div  class=" card grey lighten-3 center-align">
            <div style="max-width: 30%;" class="container card-image ">
              <img  class="" src="{{dish.imageUrl}}">
          </div class="row ">
          <span class="card-title">{{dish.name}}</span>
          <div >
              <div >קטגוריה: {{dish.categories.name}}</div>
              <div >מחיר: {{dish.price}}₪</div>
              <p >:תיאור<br>  {{dish.description}}  
                {%if dish.is_gluten_free%}
              <div>ללא גלוטן</div>
              {%endif%}
              {% if dish.is_vegeterian%}
              <div>טבעוני</div>
              {%endif%}</p>
              
            </div>
            <div class="card-action "><div class="center-align"><a class="waves-effect light-blue btn" href="{{url_for('cart.add_to_cart',id=dish.id)}}">הוסף לעגלה</a></div>
              
            </div>
          </div>
        </div>
        {%endfor%}
  
</section>
{% endblock %}