{% extends 'layouts/layout.html' %}{% block content %}
    <div class="right-align border-bottom"><h2>קטגוריות</h2></div>
      <div class="row">
        {% for category in categories %}
        <a href="{{url_for('categories.dishes_by_category',id=category.id)}}">
          <div class="col s12 m3">
          <div class="card grey lighten-3">
            <div class="card-image">
              <img src="{{category.imageUrl}}" />
            </div>
            <div class="center-align"><span class="card-title" style="text-decoration: none;">{{category.name}}</span></div>
            <div>
              <div class="center-align "><a class="hoverable waves-effect light-blue btn" href="{{url_for('categories.dishes_by_category',id=category.id)}}">היכנס</a></div>
            </div>
          </div>
        </div></a>
        {% endfor %}
      </div>

{% endblock %}