{% extends 'layouts/layout.html' %}{% block content %}
<div>
  <div class="right-align"><h2>עגלת קניות</h2></div>
  <div class="left-align">
    {% if cart_price > 0 %}
    <div>
      <a
        class="waves-effect btn"
        href="{{url_for('deliveries.order_form',id=cart_id)}}"
        >לביצוע הזמנה</a
      >
      סכום לתשלום:{{cart_price}}₪
    </div>
    {%endif%}
    
  </div>
</div>
<div style="max-height: min-content" class="collection card-panel">
  {% for item in current_cart %}
  <div class="collection-item">
    <a href="{{url_for('dishes.show_dish',id=item.dishes.id)}}">
      <img
        style="max-width: 50px; max-height: 50px"
        src="{{item.dishes.imageUrl}}"
        alt=""
        class="circle"
      />
      <div class=""><h6>{{item.dishes.name}}</h6></div></a
    >
    <div>מחיר:{{item.dishes.price}}₪</div>
    <div>תיאור:{{item.dishes.description}}</div>

    <div class="left-align">
      <a
        class="waves-effect light-blue btn"
        href="{{url_for('cart.delete_item_from_cart',id=item.dishes.id)}}"
        >מחיקה</a
      ><a class="waves-effect light-blue btn">עריכה</a>
    </div>
  </div>
  {%endfor%}
</div>

{% endblock %}
