{% extends 'layouts/layout.html' %}{% block content %}
<div class="right-align border-bottom"><h2>מנות</h2></div>
<div class="row">
  {% for dish in dishes %}
  <div class="col s12 m3 right-align">
    <div class="card grey lighten-3">
      <div class="card-image">
        <img class="" src="{{dish.imageUrl}}" />
      </div>
      <span class="card-title">{{dish.name}}</span>
      <div>
        <div>קטגוריה: {{dish.categories.name}}</div>
        <div>מחיר: {{dish.price}}₪</div>
        <p>
          :תיאור<br />
          {{dish.description}}
        </p>
        {%if dish.is_gluten_free%}
        <div>ללא גלוטן</div>
        {%endif%} {% if dish.is_vegeterian%}
        <div>טבעוני</div>
        {%endif%}
      </div>
      <form
      action="{{url_for('cart.add_to_cart',id=dish.id)}}"
      novalidate
      method="POST"
    >
    {{form.csrf_token}}
      <div class="card-action">
        <div class="center-align">
          {{form.amount.label}} {{form.amount(value=1)}} {{form.submit1}}
          {% for message in form.amount.errors %}
          <div style="color: red">{{message}}</div>
          {% endfor %}
        </div>
      </div>
    </form>
    </div>
  </div>
  {%endfor%}
</div>
{% endblock %}
